@{
    ViewBag.Title = "Home Page";
}

<main>
    <br />
    <br />
    <br />
    <br />
    <section class="row" aria-labelledby="aspnetTitle">

        <br />
        <br />
        <h1 align="center">WELOCME TO THE MODULE CALCULATOR</h1>
        <br />
        <hr color="black" />


        <h3 align="center">Welcome to the Module Calculator, your go-to tool for effortlessly calculating your module marks! Whether you need to determine grades based on credits, study days, module weeks, or more, this calculator has you covered.</h3>
        <br />
        <br />
        <br />
        <br />

        <hr  margin="10px"/>

        <h6 align="center">
            Disclaimer: Please be aware that while we strive for accuracy, this calculator may not be infallible. We are continually working to enhance its precision, and your feedback is invaluable in our improvement journey.

            Navigating through the dynamic landscape of academics, our calculator offers a user-friendly experience to streamline the often complex task of grading. From the intricacies of credit weighting to the nuances of study days, this tool empowers you to gain insights into your academic performance.

            Embrace the convenience of our evolving application, designed to make module calculations more accessible and efficient. Although we cannot guarantee absolute precision, we are committed to refining this tool to meet your needs.

            As you embark on your academic journey, let the Module Calculator be your trusted companion, providing clarity and efficiency in the realm of module assessments. Your success matters to us, and we are dedicated to enhancing this tool to better serve you.

            Thank you for choosing the Module Calculator, where precision meets convenience in the world of academic evaluation.





        </h6>
    </section>

</main>